#content {
    margin: auto;
    display: table;
}

#welcome-page {
    display: table-cell;
    vertical-align: middle;
}

#order {
    margin-top: 60px;
    margin-bottom: 35px;
}

#order-algorithm-message {
    margin-top: 35px;
}

#ordering-person-message-panel {
    margin-top: 25px;
}