<div id="menu">
    <div id="order">
        <form class="form-vertical">
            <fieldset>
                <legend>Twoje zamówienie</legend>
                <div id="order-form" class="form-group">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5">
                                <input class="form-control" id="dishInput" placeholder="Co?" type="text">
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" id="placeInput" placeholder="Skąd?" type="text">
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" id="priceInput" placeholder="Za ile?" type="text">
                            </div>
                            <div class="col-lg-1 ">
                                <button id="placeOrderButton" type="text" class="btn btn-primary">Zamów</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div id="orders">
        <legend>Dzisiejsze zamówienia</legend>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kto?</th>
                    <th>Co?</th>
                    <th>Skąd?</th>
                    <th>Za ile?</th>
                </tr>
            </thead>
            <tbody id="orders-list">

            </tbody>
        </table> 
    </div>

    <div id="order-algorithm-message" class="col-lg-12">
        <a id="trigger-algorithm" href="#" class="btn btn-success btn-block">Wszystkie zamówienia złożone</a>
    </div>

    <div id="ordering-person-message-panel" class="col-lg-12" style="display: none;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Dzisiejszy zamawiający</h3>
            </div>
            <div id="ordering-person-message" class="panel-body">
                
            </div>
        </div>
    </div>

    <!--<div id="time-ticker">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 75%"></div>
        </div>
    </div>-->
</div>