<div id="welcome-page">
    <div id="welcome-form" class="form-group">
        <label class="control-label" for="userNameField">Podaj imię</label>
        <div class="input-group">
            <input id="userNameField" class="form-control" type="text">
            <span class="input-group-btn">
                <button id="storeUserName" class="btn btn-default" type="button">Dalej</button>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#storeUserName').click(function() {
        var userName = $('#userNameField').val();

        if (userName === undefined || userName === null || userName === '') {
            $('#welcome-form').addClass('has-warning');
        } else {
            Cookies.set('userName', userName);
            location.reload();
        }
    });
</script>